<div class="col-md-6 offset-md-3">
<h3 class="text-center">Registro de empleado</h3>
<form  (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Nombre Producto:</label>
        <input type="text" 
        class="form-control" 
        id = "nombre"
        [(ngModel)]="empleado.nombreProducto"
        name="nombre">
        <label>Cantidad :</label>
        <input type="text" 
        class="form-control" 
        id = "cantidad"
        [(ngModel)]="empleado.cantidad"
        name="cantiad">
        <label>Fecha de ingreso:</label>
        <input type="text" 
        class="form-control" 
        id = "fecha"
        [(ngModel)]="empleado.fecha"
        name="fecha">
        <label>Usuario :</label>
        <input type="text" 
        class="form-control" 
        id = "Usuario"
        [(ngModel)]="empleado.usuario"
        name="usuario">

       
    </div>
<button class="btn btn-success">Guardar</button>
</form>
</div>
